$api:#ccc;
$font-sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$weight-main:200;

 @mixin font-style{
  font-family: $font-sans;
  font-weight:  $weight-main;
  -webkit-font-smoothing: antialiased;
 }

body {
  @include font-style;
  font-size: 10px; 
  color: #fff; 
  background-color: #eee;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: auto;
  color: #000; 

}

.dot {
  stroke: #666;
   color: #000; 
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  color: #000;
}

div{
  background-color: #eee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000; 
}